.menu {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    background-color: #333333;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px;
}

.menu li a:hover {
    background-color: #082d85;
}